h1{
    text-align: center;
}

table{
    text-align: center;
    margin: auto;
    
}
.addDataForm{
    display: inline-block;
    margin: auto;
    text-align: center;
}
.formData{
    text-align: center;
    margin: auto;
}
.headAct{
    margin: auto;
    text-align: center;
    margin-left: 246px;
}
.formRegister{
    display: block;
}
.formRegister li{
    list-style: none;
}
.formRegister ul li label {
    display: block;
}